<!DOCTYPE html>
<html>
<head>
    <title>Multilingual Translator</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">

    <h2> English ↔ Hindi ↔ Punjabi Translator</h2>

    <form action="/translate" method="post">

        <div class="dropdowns">
            <div>
                <label>Source Language</label>
                <select name="source_lang" required>
                    <option value="english">English</option>
                    <option value="hindi">Hindi</option>
                    <option value="punjabi">Punjabi</option>
                </select>
            </div>

            <div>
                <label>Target Language</label>
                <select name="target_lang" required>
                    <option value="english">English</option>
                    <option value="hindi">Hindi</option>
                    <option value="punjabi">Punjabi</option>
                </select>
            </div>
        </div>

        <textarea name="text" rows="5" placeholder="Enter text here..." required></textarea>

        <button type="submit">Translate</button>

    </form>

    {% if result %}
    <div class="result-box">
        <h3>Translated Text:</h3>
        <p>{{ result }}</p>
    </div>
    {% endif %}

</div>

</body>
</html>